@font-face{
	font-family: avenir;
	src:url(fonts/Avenir.ttc);
}

body{
	text-align: center;
	background-color: black;
	color:white;
	font-family: avenir,sans-serif;
}

.white{
	color: white;	
}

a.white:hover {
	text-decoration: none;
	color: white;
}

hr{
	display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0;
}

h3{
	border-top: thin solid darkGray;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: thin solid darkGray;
	color: darkGray
}

h5{
	font-size:15px;
}

.container{
	max-width: 700px;
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.welcome{
	padding-bottom: 20px;
	padding-top:120px;
	background-image: url(../images/berlin.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}

.lead{
	font-size:24px;
}

.kindness{
	background-color: white;
	color: black;
	padding-top: 70px;
	padding-bottom: 150px;
}

.baskerville{
	font-family:baskerville;
	font-style: italic;
	font-size: 70px;
}

.involved{
	height: 235px;
	line-height:235px;
	background-image: url(../images/movement.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:absolute;
	font-size: 80px;
}

.signUp{
	background-color: white;
	color: black;
	font-size: 26px;
	font-family: avenir;
    background-image: url("../images/pinecone_left.png"), url("../images/pinecone_right.png");
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	background-size: contain, 245px 360px;
	height: 480px;
}

.about{
	padding-top: 110px;
	padding-bottom: 140px;
	background-color: darkGray;
	font-size: 25px;
	background-image: url(../images/berlin_blurry.png);
	background-repeat: no-repeat;
	background-size: cover;
}

div h1{
	font-size:70px;
}

.footer{
	padding-top: 50px;
	text-align: left;
	padding-bottom: 20px;
}

.footer a,
.footer span{
	font-size: 15px;
	line-height: 200%;
}

.black,
.black:hover{
	color:black;
	text-decoration: underline;
}

.futureminded{
	font-size: 15px;
	line-height: 220%;
}

.justify{
	text-align:justify;
	font-size: 10px;
}

.right{
	float:right;
}

.modal-body{
	color:black;
	font-size:15px;
	text-align: left;
}



/* MEDIA QUERIES */

@media (max-width:1077px){
	.involved{
		
	}

	.signUp{
		background-image: none;
	}
}

@media(max-width:992px){
	.involved{
		line-height:116px;
	}
}

@media(max-width:765px){
	.kindness{
		padding-bottom: 100px;
	}

	.involved{
		font-size:60px;
		line-height:100px;
	}

	.signUp{
		height: 500px;
		font-size: 22px;
	}

	.footer{
		text-align:center;
	}

	.justify{
		text-align: center;
		width:50%;
		margin-right:auto;
		margin-left:auto;
	}
}

