*{
	outline: none;
}

@font-face{
	font-family: Brandon;
	src: url('../fonts/Brandonreg.otf');
}

@font-face{
	font-family: BrandonBold;
	src: url('../fonts/Brandon_bld.otf');
}

body{
	text-align: center;
	background-color: black;
	color:white;
	font-family:"brandon-grotesque",sans-serif;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  font-family: Brandon;
}

.gray{
	color: gray;
}

.white{
	color:white;
}

a.gray:hover,
a.gray:active,
a.gray:visited {
	text-decoration: none;
	color: gray;
}

a.white:hover,
a.white:active,
a.white:visited {
	text-decoration: none;
	color: white;
}

hr{
	display: block; height: 1px;
    border: 0; border-top: 1px solid gray;
    margin: 1em 0; padding: 0;
}

h3{
	border-top: thin solid darkGray;
	padding-bottom: 12px;
	border-bottom: thin solid darkGray;
	color: darkGray
}

h5{
	font-size:15px;
}

.container{
	max-width: 700px;
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.welcome{
	padding-bottom: 20px;
	padding-top:80px;
	background-image: url(../images/berlin.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}

.lead{
	font-size:30px;
}

.blackLine{
	display: block; height: 1px;
    border: 0; border-top: 10px solid black;
    margin: 1em 0; padding: 0;
}

.kindness{
	background-color: black;
	color: white;
}

.whiteBG{
	background-color: white;
	font-size: 30px;
	color:black;
	padding-bottom:30px;
}

.kindText{
	padding-top:30px;
}

.whiteBG span{
	font-family: BrandonBold;
	text-transform: uppercase;
}

.row.kindness{
	font-size: 0;
}

.box{
	position: relative;
	display: inline-block;
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	font-size: 20px;
	background-color:black;
	color: white;
	overflow: hidden;
}

.box .content, .box .content a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}

.box .content a:hover{
	text-decoration: none;
}
.box .content:hover{
	-webkit-transform:scale(1.02);
}

.box .content .copy{
	padding:20% 0;
	width: 100%;
	position: relative;
	z-index: 1;
	text-align: center
}

.box .content .copy h1{
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 20px;
}

.box .content .copy p{
	font-family: BrandonBold;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 26px;
	line-height: 26px;
}

.box .content .copy p span{
	text-transform: none;
	display:block;
	font-weight:100;
	font-size: 30px;
	margin-bottom: 8px;
}

.box .content .overlay{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.hideme{
	display: none;
}

.box:before{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 100px;
	font-family: Baskerville;
	font-style: italic;
	font-size: 110px;
	box-sizing: border-box;
	margin-top: 25%;
	opacity: 0.5;
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(127,94,15,1), rgba(226,174,35) 24%, rgba(248,225,164,1) 42%, rgba(225, 174, 36, 1) 62%, rgba(162, 121, 11, 1) 83%, rgba(208,181,117,1));
	-webkit-mask-image: -linear-gradient(left, rgba(127,94,15,1), rgba(226,174,35) 24%, rgba(248,225,164,1) 42%, rgba(225, 174, 36, 1) 62%, rgba(162, 121, 11, 1) 83%, rgba(208,181,117,1));
}

#box1 .content,
.boxBG1{
	background-image: url('../images/days/1.jpg');
}

#box1:before{
	content: '1';
}

#box2 .content,
.boxBG2{
	background-image: url('../images/days/2.jpg');
}

#box2:before{
	content: '2';
}

#box3 .content,
.boxBG3{
	background-image: url('../images/days/3.jpg');
}

#box3:before{
	content: '3';
}

#box4 .content,
.boxBG4{
	background-image: url('../images/days/4.jpg');
}

#box4:before{
	content: '4';
}

#box5 .content,
.boxBG5{
	background-image: url('../images/days/5.jpg');
}

#box5:before{
	content: '5';
}

#box6 .content,
.boxBG6{
	background-image: url('../images/days/6.jpg');
}

#box6:before{
	content: '6';
}

#box7 .content,
.boxBG7{
	background-image: url('../images/days/7.jpg');
}

#box7:before{
	content: '7';
}

#box8 .content,
.boxBG8{
	background-image: url('../images/days/8.jpg');
}

#box8:before{
	content: '8';
}

#box9 .content,
.boxBG9{
	background-image: url('../images/days/9.jpg');
}

#box9:before{
	content: '9';
}

#box10 .content,
.boxBG10{
	background-image: url('../images/days/10.jpg');
}

#box10:before{
	content: '10';
}

#box11 .content,
.boxBG11{
	background-image: url('../images/days/11.jpg');
}

#box11:before{
	content: '11';
}

#box12 .content,
.boxBG12{
	background-image: url('../images/days/12.jpg');
}

#box12:before{
	content: '12';
}

#box13 .content,
.boxBG13{
	background-image: url('../images/days/13.jpg');
}

#box13:before{
	content: '13';
}

#box14 .content,
.boxBG14{
	background-image: url('../images/days/14.jpg');
}

#box14:before{
	content: '14';
}

#box15 .content,
.boxBG15{
	background-image: url('../images/days/15.jpg');
}

#box15:before{
	content: '15';
}

#box16 .content,
.boxBG16{
	background-image: url('../images/days/16.jpg');
}

#box16:before{
	content: '16';
}

#box17 .content,
.boxBG17{
	background-image: url('../images/days/17.jpg');
}

#box17:before{
	content: '17';
}

#box18 .content,
.boxBG18{
	background-image: url('../images/days/18.jpg');
}

#box18:before{
	content: '18';
}

#box19 .content,
.boxBG19{
	background-image: url('../images/days/19.jpg');
}

#box19:before{
	content: '19';
}

#box20 .content,
.boxBG20{
	background-image: url('../images/days/20.jpg');
}

#box20:before{
	content: '20';
}

#box21 .content,
.boxBG21{
	background-image: url('../images/days/21.jpg');
}

#box21:before{
	content: '21';
}

#box22 .content,
.boxBG22{
	background-image: url('../images/days/22.jpg');
}

#box22:before{
	content: '22';
}

#box23 .content,
.boxBG23{
	background-image: url('../images/days/23.jpg');
}

#box23:before{
	content: '23';
}

#box24 .content,
.boxBG24{
	background-image: url('../images/days/24.jpg');
}

#box24:before{
	content: '24';
}

.kindnessModal{
	text-align: center;
	color:white;
	background-repeat: no-repeat; 
	background-size:cover; 
	height:500px; 
	margin-left:20px; 
	margin-right:20px;
	margin-bottom:20px;
	display:table;
}

.kindnessModal div{
	display:table-cell;
	vertical-align: middle;
}

.modal-header img{
	height:112px; width:350px
}

.modal-body h1{
	font-family: BrandonBold;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 39px;
	line-height: 26px;
}

.modal-body h1 span{
	font-family: Baskerville;
	text-transform: none;
	display:block;
	font-weight:100;
	font-size: 40px;
	margin-bottom: 18px;
}

.modal-body p{
	padding-top: 40px;
	padding-left:80px;
	padding-right:80px;
	font-size:34px;
}








.baskerville{
	font-family:baskerville;
	font-style: italic;
	font-size: 70px;
}

.involved{
	height: 380px;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.signUp{
	background-color: white;
	color: black;
	font-size: 30px;

	padding-bottom: 80px;
}

.signup div div.pineleft{
	position:absolute;
	bottom:0;
	left:0;
}

.signup div div.pineright{
	position:absolute;
	bottom: 0px;
	right: 0px;
}

.thankyou{
	border-top: thin solid darkGray;
	padding-bottom: 8px;
	border-bottom: thin solid darkGray;
	color: darkGray;
	font-family:baskerville;
	font-style: italic;
	font-size: 50px;
}

.about{
	padding-top: 110px;
	padding-bottom: 140px;
	background-color: darkGray;
	font-size: 25px;
	background-image: url(../images/berlin_blurry.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.about p{
	font-size: 30px;
}

div h1{
	font-size:80px;
}

.footer{
	padding-top: 50px;
	text-align: left;
	padding-bottom: 20px;
	color:gray;
}

.footer div.indent{
	margin-left:88px;
}

.footer a{
	font-size: 16px;
}

.footer span{
	font-size: 18px;
}

.futureminded{
	font-size: 15px;
	line-height: 220%;
}

.justify{
	text-align:justify;
	font-size: 10px;
}

.imprintModal{
	color:black;
	font-size:18px;
	text-align: left;
}

input{
	border: 4px solid black;
	padding-left:8px;
	padding-right:8px;
	font-family: Baskerville;
	font-style: italic;
	color:gray;
	font-size: 28px;
}

input:focus{
	border: 6px solid black;
	outline:none;
}

input[type="submit"]{
	background-color: black;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	color:white;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: Baskerville;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-family: Baskerville;
   font-style: italic;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-family: Baskerville;
   font-style: italic;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-family: Baskerville;
   font-style: italic;
}

/* MEDIA QUERIES */

@media (max-width:1077px){
	.involved{

	}
}

@media(max-width:992px){
	.signUp{

	}
}

@media(max-width: 768px) and (min-width: 460px){
	.involved{
		padding-bottom:320px;
	}
}

@media(max-width:768px){
	.welcome{
		padding-top:50px;
	}

	.kindness{
		padding-bottom: 50px;
	}

	.involved{
		font-size:60px;
		height: 240px;
	}

	.signUp{
		height: 820px;
		font-size: 22px;
		background-image: none;
		padding-bottom:50px;
	}

	.footer{
		text-align:center;
	}

	.footer div.indent{
	margin-left:0px;
}

	.justify{
		text-align: center;
		width:50%;
		margin-right:auto;
		margin-left:auto;
	}

	.baskerville{
		font-size: 50px;
	}

	.about{
		padding-top:50px;
		padding-bottom: 70px;
	}

	.box{
		width:50%;
		padding-bottom:50%;
	}
}

@media(max-width:470px){
	.kindnessBG{
		height:280px;
	}

	.whiteBG{
		font-size:24px;
	}

	.box{
		width:100%;
		padding-bottom:100%;
	}
}